{% extends 'base.html' %}
{% block content %}
  {{title2}}
  <main class ="container py-1">
    <h3 class="display-3 text-center">Bienvenidos a Market Fast</h3>
    <section class="card card-budy">
      <h4 class="display  text-center">Misión</h4>
      <p>Nuestra misión es proporcionar una plataforma en línea accesible y conveniente donde los clientes puedan encontrar y adquirir una amplia variedad de productos frescos y de alta calidad. Nos comprometemos a ofrecer un servicio al cliente excepcional, garantizar la seguridad en las transacciones y apoyar a los productores locales, promoviendo la sostenibilidad y el comercio justo.</p>
      <h5 class="display  text-center">Visión</h5>
      <p>Nuestra visión es ser el mercado en línea líder y más confiable, reconocido por nuestra innovación, responsabilidad social y capacidad de satisfacer las necesidades de nuestros clientes. Aspiramos a transformar la experiencia de compra, haciendo que sea fácil, segura y placentera, mientras contribuimos al desarrollo económico de nuestras comunidades y al cuidado del medio ambiente.</p>
    </section>
  <main>
{% endblock content  %}



